

section .mainBody  .newLessionOption{position:relative; left:0px; top:0px; width:100%; height:40px; border:1px solid rgba(0,0,0,0.1);}
section .mainBody  .newLessionOption2{border-top:none;}
section .mainBody  .newLessionOption3{background:#00C6FF;}
section .mainBody  .newLessionOption3:hover{background:#f96816; cursor:pointer;}

section .mainBody  .newLessionOption .newLessionOptionLeft{position:absolute; left:0px; top:0px; width:200px; height:100%; border-right:1px solid rgba(0,0,0,0.1);}
section .mainBody  .newLessionOption .newLessionOptionRight{position:absolute; left:200px; top:0px; width:calc(100% - 200px); height:100%;}    

section .mainBody  .newLessionOption .newLessionOptionRight i{position:absolute; left:20px; top:12px;}
section .mainBody  .newLessionOption .newLessionOptionRight img{position:absolute; left:60px; top:10px; height:20px; display:none;}
section .mainBody  .newLessionOption .newLessionOptionRight i:hover{cursor: pointer; color:#f96816;}
    
section .mainBody  .newLessionOption .newLessionOptionLeft p,
section .mainBody  .newLessionOption .newLessionOptionRight p{position:absolute; left: 20px; top:8px; font-family:myfont; margin:0px;}
section .mainBody  .newLessionOption .newLessionOptionRight input{position:absolute; left:0px; top:0px; width:calc(100% - 20px); padding:none; padding-left:20px; height:38px; background:none; border:0px; outline:none; margin:0px;}    
    
section .mainBody  .newLessionOption3 p{font-family:myfont; color:#fff; position:absolute; width:100%; text-align:center; top:8px; margin:0px; }    
    
    
    
    
    
    
    
