section{position: absolute; left: 260px; top:60px; width:calc(100% - 260px); height: calc(100% - 100px);}



section .mainHeader{position:absolute; left:30px; top:0px; width:calc(100% - 60px); height:80px; border-bottom:1px solid rgba(0,0,0,0.1);}
section .mainHeader h1{font-size:22px; margin-top:22px; margin-left:0px; font-family:myfont;}
section .mainHeader h1 a{font-family:myfont;}

section .mainBody{position:absolute; left:30px; top:100px; width:calc(100% - 60px); height:auto;}
